* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: hsl(0, 0%, 17%);
    --secondary-color: hsl(0, 0%, 59%);
}


body {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color);
}

.container {
    background-image: url(./images/pattern-bg-desktop.png);
    background-size: contain;


}

@media (max-width:375px) {

    .container {
        background-image: url(./images/pattern-bg-mobile.png);
    }
}

.container .header {
    margin: auto;
    padding-top: 2em;
    text-align: center;
    height: 30vh;
}

.header .input {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;



}

.header .input input {
    padding: 0.7em;
    width: 40%;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    outline: none;
    border: none;
    height: 40px;
}

@media (max-width:768px) {
    .header .input input {
        width: 70%;
    }
}

.header .input img.arrow {
    background-color: var(--main-color);
    padding: 0.8em;
    height: 40px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.header .input .locate-me {
    font-size: 1.4em;
    margin-left: 1em;
    color: #fff;
    cursor: pointer;
}

.container #map {
    height: calc(100vh - 30vh);
    background-color: #eee;
    position: relative;
    z-index: 0;

}

.container .info,
.container .location-info {
    position: absolute;
    display: none;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: #fff;
    padding: 1em;
    height: 120px;
    top: calc(30vh - 60px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 75%;
    z-index: 100;
}



.container .info div,
.container .location-info div {
    padding: 1em;
    width: 25%;
}


.container .info div:not(:last-of-type),
.container .location-info div:not(:last-of-type) {
    border-right: 1px solid var(--secondary-color);

}




@media (max-width:768px) {

    .container {
        height: 40vh;

    }

    .container .header {
        padding-top: 1em;
    }

    .container .info,
    .container .location-info {
        flex-direction: column;
        height: 300px;
        text-align: center;
        top: calc(40vh - 200px);
        justify-content: space-between;
        top: 20%;
    }

    .container .info div,
    .container .location-info div {
        width: 100%;
        padding: 0.25em;
    }

    .container .info div:not(:last-of-type),
    .container .location-info div:not(:last-of-type) {

        border-color: transparent;
    }
}

.container .info div p,
.container .location-info div p {
    margin-bottom: 0.5em;
    color: hsl(0, 0%, 59%);
    font-weight: 500;

}